<app-header></app-header>

<div class="title">
<div class="title1">
  <h2>Mis</h2>
</div>
<div class="title2">
  <h2>Chats</h2>
</div>
</div>

<div class="messages">
  <h3>Mensajes recientes</h3>
</div>

<div *ngIf="loading; else users">
  Cargando chats.......
</div>

<ng-template #users>
  <section *ngFor="let p of chats" class="chat-list">
  <div class="chat-container"></div>
  <div class="photocontainer">
    <img [src]="p.image">
  </div>
  <div class="name">{{p.name}}</div>
  <div class="report">
    <img
      src="../../../../assets/icons/signo-de-exclamacion.png"
      alt="reporticon"
    />
  </div>
</section>
</ng-template>
