<app-header></app-header>

<body>
  <section class="eventos">
    <div class="fondorojo">
      <h2>Eventos</h2>
    </div>
    <div class="fondoazul">
      <h2>Principales</h2>
    </div>
  </section>

  <div class="carouseleven" *ngIf="!loading; else webLoading">
    <app-eventscardbox
      [events]="events()"
    ></app-eventscardbox>
  </div>
  <ng-template #webLoading> </ng-template>
  <!-- ////////////////////////// -->

  <section class="categories">
    <div class="fondorojoC">
      <h2>Descubre</h2>
    </div>
    <div class="fondoazulC">
      <h2>tu plan</h2>
    </div>
    <div class="map">
      <img src="../../../../assets/images/Mapa.png" alt="map" />
    </div>
    <div class="categoriestext">
      <h2>
        Explora nuestras categorías y encuentra tu próximo plan. ¡Hay algo para
        todos!
      </h2>
    </div>
    <div class="categoriescarousel" *ngIf="!loading; else loadingTemplate">
      <app-categorycard
        [categories]="categories()"
      ></app-categorycard>
    </div>

    <ng-template #loadingTemplate>
      <div class="loading-container">
        <p>Cargando categorías...</p>
      </div>
    </ng-template>
  </section>

  <!-- ////////////////////////// -->

  <section class="groups">
    <div class="fondorojoG">
      <h2>Encuentra</h2>
    </div>
    <div class="fondoazulG">
      <div class="title">
        <h2>a los tuyos</h2>
      </div>
    </div>
    <div class="groupcard">
      <app-newgroupscard></app-newgroupscard>
    </div>
    <div class="groupstext">
      <h3>Encuentra ese espacio que te hace sentir en casa</h3>
    </div>
  </section>

  <!-- ////////////////////////// -->
</body>
