//TITULO Y BOXES

.fondorojo{
  position: absolute;
  background-color: #FFB9B9;
  height: 80px;
  top: 300px;
  width: 200px;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px;
  padding-left: 20px;


}
.fondoazul{
  position: absolute;
  background-color: #A2D4FF;
  height: 80px;
  top: 400px;
  width: 300px;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px;
  padding-left: 20px;
}

h2 {
  display:contents;
  font-family:"Black_Han_Sans";
  font-size: 83px;
}

// CARROUSELL EVENTOS

