 //////////////EVENTOS-CERCANOS//////////////
.fondorojoN{
  position: absolute;
  background-color: #FFB9B9;
  height: 80px;
  top: 170px;
  width: 200px;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px;
  padding-left: 20px;


}
.fondoazulN{
  position: absolute;
  background-color: #A2D4FF;
  height: 80px;
  top: 270px;
  width: 350px;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px;
  padding-left: 20px;
}

h2 {
  display:contents;
  font-family:"Black_Han_Sans";
  font-size: 83px;}

/////////////////CARDBOX///////////////////
.cardgrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 50px;

}

.group-4,
.group-4 * {
  box-sizing: border-box;
}
.group-4 {
  position: relative;
  top: 80px;
  height: 600px;
  width: 549px;
  margin-left: 25px;
  margin-right: 25px;
}
.rectangle-176 {
  background: linear-gradient(to left, #ffb9b9, #ffb9b9),
    linear-gradient(to left, #a2d4ff, #a2d4ff);
  border-radius: 25px;
  width: 42px;
  height: 133px;
  position: absolute;
  left: 400px;
  top: 300px;
}
.rectangle-79 {
  background: rgba(217, 217, 217, 0.73);
  border-radius: 0px 10px 0px 10px;
  width: 441px;
  height: 28px;
  position: absolute;
  left: 2px;
  top: 300px;
}
.cali {
  color: #000000;
  text-align: left;
  font-family: "Buda-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 225px;
  width: 344px;
  height: 37px;
}
.rectangle-171 {
  background: linear-gradient(to left, #a2d4ff, #a2d4ff),
    linear-gradient(to left, #a2d4ff, #a2d4ff);
  border-radius: 25px;
  width: 41px;
  height: 133px;
  position: absolute;
  left: 220px;
  top: 300px;
}
.rectangle-172 {
  background: linear-gradient(to left, #ffb9b9, #ffb9b9),
    linear-gradient(to left, #a2d4ff, #a2d4ff);
  border-radius: 25px;
  width: 42px;
  height: 133px;
  position: absolute;
  left: 280px;
  top: 300px;
}
.rectangle-173 {
  background: linear-gradient(to left, #a2d4ff, #a2d4ff),
    linear-gradient(to left, #a2d4ff, #a2d4ff);
  border-radius: 25px;
  width: 42px;
  height: 133px;
  position: absolute;
  left: 340px;
  top: 300px;
}
.rectangle-169 {
  background: #a2d4ff;
  border-radius: 25px;
  width: 42px;
  height: 133px;
  position: absolute;
  left: 100px;
  top: 300px;
}
.rectangle-170 {
  background: linear-gradient(to left, #ffb9b9, #ffb9b9),
    linear-gradient(to left, #a2d4ff, #a2d4ff);
  border-radius: 25px;
  width: 42px;
  height: 133px;
  position: absolute;
  left: 160px;
  top: 300px;
}
.eventimage {
  border-radius: 5px;
  border-style: solid;
  border-color: #0d0c0c;
  border-width: 1px;
  width: 550px;
  height: 350px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.eventimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dec-25-4-00-pm {
  color: #000000;
  text-align: center;
  font-family: "ScriptMtBold-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 380px;
  width: 331px;
  height: 37px;
}
.the-black-swan {
  color: #000000;
  text-align: center;
  font-family: "RobotoCondensed-BlackItalic", sans-serif;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 93px;
  top: 350px;
  width: 350px;
  height: 51px;
}
.obra-de-teatro-dedicada-al-arte-simbolico-y-musical {
  color: #000000;
  text-align: center;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 440px;
  width: 423px;
  height: 51px;
}
.buttonbox {
  position: absolute;
  left: 171px;
  top: 490px;
}
.asistire {
  background: #ff5a5d;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  text-align: center;
  font-family: "CooperBlack-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 490px;
  width: 140px;
  height: 33px;
  -webkit-text-stroke: 0.20000000298023224px #000000;
}
