body {
  background-color: #ff6868;
}

//LOGO LUME

.logo {
  height: 20%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.logo img {
  height: 100%;
  width: 100%;
  object-fit:contain;
}

//LOGIN BOXES

.login-container{
  display: flex;
  height: 68%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  margin-top: 0;
}

.login-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color:#FFB9B9;
  border: solid black 2px;
  border-radius: 25px;
  width: 280px;
  height: 460px;
  padding: 15px
  ;

}

.login-card h1 {
  margin: 0;
}
//Label managment

.form-group {
  position: relative; //los objetos que esten absolute dentro de esta caja se puede mover libremente dentro de esta caja mas no toda la pagina
}

.form-group label{
  font-family:"Black_Han_Sans";
  font-size: 18px;
  color: #ffffff;
  -webkit-text-stroke: #000000 0.8px;
  position: absolute; //permite moverlo libremente
  top: 10px;

}
.form-group input{
  border-radius: 50px;
  width: 200px;
  height: 25px;
  margin-top: 35px;
  padding-left:8px ;
}

.form-group select{
  border-radius: 50px;
  width: 212px;
  height: 30px;
  margin-top: 60px;
  padding-left:8px ;
}


//FUENTES

h1 {
  font-family: "Berkshire_Swash";
  font-size: 40px;
}

//BOTON

button p {
  font-size: larger;
  color: #ffffff;
  margin: 0;
  -webkit-text-stroke: #000000 0.9px;
}


button {
  font-family: "Oswald";
  font-size: 17px;
  background-color: #FF5A5D;
  border-radius: 25px;
  border: solid black 1.5px;
  padding: 5px 10px;
  color: black;
  margin-top: 15px;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
  }

}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}




