<section class="footer">
  <div class="image">
    <img src="../../../../assets/images/LogoLume.png" alt="LogoLume" />
  </div>

  <div class="icons">
    <div class="socialmediai">
      <img src="../../../../assets/icons/instagram.png" alt="instagram" />
    </div>
    <div class="socialmediai">
      <img src="../../../../assets/icons/facebook.png" alt="facebook" />
    </div>
    <div class="socialmediai">
      <img src="../../../../assets/icons/gorjeo.png" alt="X" />
    </div>
    <div class="socialmediai">
      <img src="../../../../assets/icons/tik-tok.png" alt="tiktok" />
    </div>
  </div>

  <div class="socialmedia">
    <a href="">LumeSocial</a>
    <a href="">LumeSocial</a>
    <a href="">LumeSocial</a>
    <a href="">LumeSocial</a>
  </div>
</section>
