<section class="footer">
  <div class="image">
    <img src="../../../../assets/images/LogoLume.png" alt="LogoLume" />
  </div>

  <div class="icons">
    <div class="socialmediai">
      <a href="https://www.instagram.com/" target="_blank"><img  src="../../../../assets/icons/instagram.png" alt="instagram" /></a>
    </div>
    <div class="socialmediai">
      <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr#" target="_blank"><img src="../../../../assets/icons/facebook.png" alt="facebook" /></a>
    </div>
    <div class="socialmediai">
      <a href="https://x.com/" target="_blank"><img src="../../../../assets/icons/gorjeo.png" alt="X" /></a>
    </div>
    <div class="socialmediai">
      <a href="https://www.tiktok.com/" target="_blank"><img src="../../../../assets/icons/tik-tok.png" alt="tiktok" /></a>
    </div>
  </div>

  <div class="socialmedia">
    <a href="https://www.instagram.com/" target="_blank">LumeSocial</a>
    <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr#" target="_blank">LumeSocial</a>
    <a href="https://x.com/" target="_blank">LumeSocial</a>
    <a href="https://www.tiktok.com/" target="_blank">LumeSocial</a>
  </div>
</section>
