//////////IMGS STYLES//////////

.group,
.group * {
  box-sizing: border-box;
}
.group {
  position: relative;
  min-width: 490px;
  width: 700px;
  height: 300px;
  scroll-snap-stop: always;
  scroll-snap-align: start;
}
.linea1 {
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 274px;
  height: 221px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.linea2 {
  background: rgba(217, 217, 217, 1);
  width: 229px;
  height: 42px;
  position: absolute;
  left: 274px;
  top: 81px;
}
.linea3 {
  background: rgba(217, 217, 217, 1);
  width: 229px;
  height: 43px;
  position: absolute;
  left: 274px;
  top: 143px;
}
.linea4 {
  background: rgba(217, 217, 217, 1 );
  width: 229px;
  height: 43px;
  position: absolute;
  left: 274px;
  top: 17px;
}
.groupname {
  color: #000000;
  text-align: center;
  font-family: "Roboto_Condensed";
  font-size: 65px;
  font-weight: 400;
  position: absolute;
  left: 273px;
  top: 17px;
  width: 234px;
  height: 92px;
}
.city {
  color: #000000;
  text-align: center;
  font-family: "Berkshire_Swash";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 273px;
  top: 112px;
  width: 234px;
  height: 93px;
}
//Carousel

.carousel{
  margin-top: 30px;
  position: absolute;
  margin-left: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  gap: 4em;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;

  &::-webkit-scrollbar{
    display: none;
  }

  &::scroll-button( left ) {
  content: "";
  background-image: url(../../../../assets/icons/flechas-hacia-atras.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  font-size: 3em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: left center;
  margin-bottom: 95px;
} ;

  &::scroll-button( right ){
  content: "";
  background-image: url(../../../../assets/icons/siguiente-boton.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  font-size: 3em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  margin-bottom: 95px;
}

&::scroll-button( left ):disabled, ::scroll-button( right ):disabled{
  opacity: 0.5;
  cursor: auto;
}


}
